div#slider-container {
    position: relative;
    border: 1px solid #000;
    height: 30px;
    overflow: hidden;
    margin: 5px 0 5px auto;
    width: 600px;
}


div#sliderbar {
    position: absolute;
    background: url(../images/slidebg.gif) repeat-x;
    background-position: 0px 6px;
    width: 3000px;
    height: 30px;
    cursor: pointer;
}

div.slideYear, siv.slideMonth {
    border: 0px solid #bebebe;
    border-left-width: 1px;
    float: left;
    font-family: Verdana;
    font-weight: 700;
}

div.slideYear {
    position: relative;
    height: 23px;
    top: 3px;
    font-size: .6em;
    color: #888;
}

div.slideMonth {
    height: 16px;
    position: absolute;
    top: 7px;
    font-size: .7em;
}

div.firstMonth {
    border-left-width: 0px;
}

span#lefthandle, span#righthandle {
    background-color: #f2964b;
    position: absolute;
    top: 0px;
    width: 5px;
    cursor: w-resize;
    height: 27px;
    display: block;
    z-index: 1;
}

div#shiftpanel {
    top: 3px;
    position: absolute;
    height: 20px;
    background-color: #00f;
    filter:alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
    z-index: 0;
}

div.zoomPanel {
    width: 100px;
    position: absolute;
    height: 12px;
    background-color: #fff;
    right: 0px;
    top: 0px;
    opacity: .85;
    filter: alpha(opacity=85);
    border: 1px solid #eee;
    border-width: 0px 0px 1px 1px;
    font-size: 9px;
    padding: 2px;
    padding-top: 0px;
}

div.zoomPanel a.zoom {
    text-decoration:none;
    color:#000;
}
