<!-- Piwik -->
<script type="text/javascript">
{# Piwik tracking code from http://piwik.org/docs/javascript-tracking/ at 2013-09-14 #}
var _paq = _paq || [];
_paq.push(['setSiteId', {{ siteId }}]);
_paq.push(['trackPageView']);
{% enableLinkTricking %}
    _paq.push(['enableLinkTracking']);
{% endif %}
(function() {
    var u = '{{ piwikUrl }}';
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer = true;
    g.async = true;
    g.src = u + 'piwik.js';
    s.parentNode.insertBefore(g, s);
})()
</script>
<noscript><p><img src="{{ piwikUrl }}piwik.php?idsite={{ siteId }}" style="border: 0" alt="Piwik" /></p></noscript>
<!-- End Piwik Tag -->
